

body{
    margin: 0;
}

*{
    font-family: montserrat;
    color: #0e3a52;
    font-size: 16px;
}

.page-gutter{
    margin: 0 5%;
}

/* HEADER AND NAVIGATION */ 
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.logo{
    width: 15%;
}
.menu{
    display: inline;
}

.menu > ul {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
}

.menu a{
    padding: 0 16px;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color .5s; 
        transition: color .5s; 
}

.menu a:hover{
    color: #fd6054;
}

.menu li:first-of-type a{
    color: #fd6054;
}

.header-divider{
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 8px;
    background-color: #f1f1f2;
}

/* HERO SECTION */ 

section#hero{
    display: flex;
    margin: 100px 0;
}

.hero-copy-wrapper{
    flex-basis: 50%;
    margin: 0 0 0 5%;
}

.hero-copy-wrapper > h1,
.hero-copy-wrapper > h1 > span{
    font-size: 50px;
    margin: 0 0 30px 0;
    line-height: 1;
}

.hero-copy-wrapper > h1 > span{
    color: #fd6054;
}

.hero-copy-wrapper > p {
    width: 80%;
    line-height: 1.7;
}

.hero-copy-wrapper > h6{
    font-weight: bold;
    margin-top: 24px;
}

.hero-btn-grp a {
    border: 0;
    padding: 16px 24px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.hero-btn-grp a.active{
    background-color: #fd6054;
    margin-right: 24px;
    color: white;
    -webkit-transition: background-color .5s; 
    transition: background-color .5s; 
}

.hero-btn-grp a:not(.active):hover{
    -webkit-transition: background-color .5s; 
    transition: background-color .5s;
    background-color: rgba(0, 0, 0, 0.05);
}

.hero-btn-grp a.active ion-icon {
    color: white;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.hero-btn{
    color: #0e3a52;
    margin-right: 20px;
}

.hero-btn ion-icon {
    color: #fd6054;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.hero-img{
    display: block;
    position: relative;
    overflow: hidden;
    flex-basis: 50%;
}

/* EVENT SECTION */ 

section#events{
    background-color: #f5f7f9;
    padding: 64px 0;
}

section#events h2,
section#events h2 > span {
    font-size: 42px;
    font-weight: bold;
}

section#events h2 > span{
    color: #fd6054;
}

.event-row{
    display: flex;
}

.event-container{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-rows: auto;
    height: fit-content;
}

.filter-container{
    margin-left: auto;
}

.event{
    background-color: white;
    border-radius: 5px;
}

.event-img{
    position: relative;
    overflow: hidden;
}

.event-img > img{
    width: 100%;
}

.event-user{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 30px;
    background-color: rgba(0, 0, 0, 0.50);
}

span.user,
span.user ion-icon{
    color: white;
}

span.user ion-icon{
    position: relative;
    top: 2px;
    margin-right: 20px;
}

.event-detail > h6{
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0 16px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-detail > p {
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    color: #1e191980;
}

.event-view-more{
    grid-column: 1/-1;
}

.event-view-more > p {
    text-align: center;
    font-weight: bold;
    color: #fd6054;
}

.event-view-more > p:hover {
    cursor: pointer;
}

/* EVENT FILTER */

.filter-wrapper{
    padding-left: 32px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #dce1e7;
    border-radius: 30px;
    padding: 5px;
    height: 35px;
    margin-bottom: 16px;
}

.btn-container > button {
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 30px;
    flex-basis: 50%;
    text-align: center;
    border: 0;
    background-color: white;
}

.btn-container > button.active{
    background-color: #fd6054;
    color: white;
    -webkit-transition: background-color .5s; 
    transition: background-color .5s; 
}

.btn-container > button:hover {
    cursor: pointer;
}

input[type=text]:not(.dollar):focus-visible{
    outline: none;
}

select:focus-visible{
    outline: 0;
}

.search-wrapper{
    padding: 5px;
    margin-bottom: 24px;
}

.filter-wrapper .search {
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #dce1e7;
    padding-left: 40px;
}

.search-icon{
    position: relative;
    height: 20px;
    left: 2%;
    top: 30px;
    color: #fd6054;
    width: 25px;
}

.filter-wrapper .search::placeholder{
    color: #1e191980;
    padding: 10px;
    font-weight: bold;
}

.event-location-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-left: 10px;
}

.filter-select {
    background: none;
    border: 0;
    border-bottom: 2px solid #fd6054;
    padding-bottom: 2px;
    font-weight: bold;
}

.category{
    color: #1e191980;
    font-weight: bold;
}

.value{
    color: #0e3a52;
    font-weight: bold;
    border-bottom: 2px solid #fd6054;
    padding-bottom: 3px;
}

.value > ion-icon {
    color: #fd6054;
    position: relative;
    top: 2px;
    padding-left: 5px;
    height: 70%;
}

.event-length{
    padding-left: 10px;
    margin-bottom: 24px;
}

.event-length-wrapper{
    display: flex;
    justify-content: space-between
}

.event-length span {
    border: 0;
}

.seat-cost span:not(.dollar),
.event-length span {
    color: #1e191980;
    font-weight: bold;
}

.seat-cost{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 24px;
    align-items: center;
}

.seat-cost .dollar {
    color:#fd6054;
    position: relative;
    left: 11%;
    top: 0px;
    font-weight: bold;
}

.seat-cost input {
    width: 22%;
    border-radius: 30px;
    border: 1px solid #dce1e7;
    height: 40px;
    padding-left: 24px; 
}

.seat-cost input::placeholder{
    color: #1e191980;
    font-weight: bold;
    position: relative;
    left: 11%;
}

.event-size{
    padding-left: 10px;
}


.event-size > .category{
    margin-bottom: 24px;
}


#steps-fivepercent-slider .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    top: -30px;
}

/* OVERRIDING SLIDER PLUGIN CSS */

.ui-slider-label{
    display: none !important;
}

.slider {
    height: 5px;
}

.ui-slider-handle{
    border-radius: 30px;
    border: 0;
    border-color: #dce1e7 !important;
    background: white !important;
}

.ui-state-hover{
    border-color: white !important;
}

.ui-slider-handle{
    top: -0.3em !important;
    border-radius: 30px !important;
}

.ui-slider-range{
    background: #fd6054 !important;
}

.ui-widget-header{
    background: #fd6054 !important;
}

/* FOOTER */ 

section#footer{
    background-color: #f5f7f9;
    padding-bottom: 64px;
}

.footer-wrapper{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.copyright{
    flex-basis: 100%;
    margin: 0 5%;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
}

.footer-icons ion-icon {
    font-size: 32px;
    padding: 0 10px;
    color: #1e191980;
}





